<ion-header translucent *ngIf="!reusable">
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-back-button
        color="secondary"
        defaultHref="/network"
        class="container-header"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-label> Recommendations</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="">
  <ion-row>
    <ion-col size="6">
      <ion-card class="people-you-scroll">
        <div class="avatar-recommend-image">
          <img
            src="assets/Image/Empty State Icon/People.svg"
            width="73px"
            height="73px"
            class="img-round"
          />
        </div>
        <div class="recommended-user-names">
          <h4 class="mt-5 text-dark res-1line padding-lr-10">Raunak</h4>
          <h5 class="h5-sub-title res-1line padding-lr-10">
            A story teller guy
          </h5>
          <ion-button
            size="small"
            shape="round"
            class="btn-default-outline-primary"
            fill="outline"
            >Connect</ion-button
          >
          <!-- <ion-button
            *ngIf="peoples.request_sent"
            size="small"
            class="btn-default-outline-primary"
            fill="outline"
            >REQUESTED</ion-button
          > -->
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="people-you-scroll">
        <div class="avatar-recommend-image">
          <img
            src="assets/Image/Empty State Icon/People.svg"
            width="73px"
            height="73px"
            class="img-round"
          />
        </div>
        <div class="recommended-user-names">
          <h4 class="mt-5 text-dark res-1line padding-lr-10">Raunak</h4>
          <h5 class="h5-sub-title res-1line padding-lr-10">
            A story teller guy
          </h5>
          <ion-button
            size="small"
            shape="round"
            class="btn-default-outline-primary"
            fill="outline"
            >Connect</ion-button
          >
          <!-- <ion-button
            *ngIf="peoples.request_sent"
            size="small"
            class="btn-default-outline-primary"
            fill="outline"
            >REQUESTED</ion-button
          > -->
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="people-you-scroll">
        <div class="avatar-recommend-image">
          <img
            src="assets/Image/Empty State Icon/People.svg"
            width="73px"
            height="73px"
            class="img-round"
          />
        </div>
        <div class="recommended-user-names">
          <h4 class="mt-5 text-dark res-1line padding-lr-10">Raunak</h4>
          <h5 class="h5-sub-title res-1line padding-lr-10">
            A story teller guy
          </h5>
          <ion-button
            size="small"
            shape="round"
            class="btn-default-outline-primary"
            fill="outline"
            >Connect</ion-button
          >
          <!-- <ion-button
            *ngIf="peoples.request_sent"
            size="small"
            class="btn-default-outline-primary"
            fill="outline"
            >REQUESTED</ion-button
          > -->
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="people-you-scroll">
        <div class="avatar-recommend-image">
          <img
            src="assets/Image/Empty State Icon/People.svg"
            width="73px"
            height="73px"
            class="img-round"
          />
        </div>
        <div class="recommended-user-names">
          <h4 class="mt-5 text-dark res-1line padding-lr-10">Raunak</h4>
          <h5 class="h5-sub-title res-1line padding-lr-10">
            A story teller guy
          </h5>
          <ion-button
            size="small"
            shape="round"
            class="btn-default-outline-primary"
            fill="outline"
            >Connect</ion-button
          >
          <!-- <ion-button
            *ngIf="peoples.request_sent"
            size="small"
            class="btn-default-outline-primary"
            fill="outline"
            >REQUESTED</ion-button
          > -->
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="people-you-scroll">
        <div class="avatar-recommend-image">
          <img
            src="assets/Image/Empty State Icon/People.svg"
            width="73px"
            height="73px"
            class="img-round"
          />
        </div>
        <div class="recommended-user-names">
          <h4 class="mt-5 text-dark res-1line padding-lr-10">Raunak</h4>
          <h5 class="h5-sub-title res-1line padding-lr-10">
            A story teller guy
          </h5>
          <ion-button
            size="small"
            shape="round"
            class="btn-default-outline-primary"
            fill="outline"
            >Connect</ion-button
          >
          <!-- <ion-button
            *ngIf="peoples.request_sent"
            size="small"
            class="btn-default-outline-primary"
            fill="outline"
            >REQUESTED</ion-button
          > -->
        </div>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card class="people-you-scroll">
        <div class="avatar-recommend-image">
          <img
            src="assets/Image/Empty State Icon/People.svg"
            width="73px"
            height="73px"
            class="img-round"
          />
        </div>
        <div class="recommended-user-names">
          <h4 class="mt-5 text-dark res-1line padding-lr-10">Raunak</h4>
          <h5 class="h5-sub-title res-1line padding-lr-10">
            A story teller guy
          </h5>
          <ion-button
            size="small"
            shape="round"
            class="btn-default-outline-primary"
            fill="outline"
            >Connect</ion-button
          >
          <!-- <ion-button
            *ngIf="peoples.request_sent"
            size="small"
            class="btn-default-outline-primary"
            fill="outline"
            >REQUESTED</ion-button
          > -->
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</div>
