<ng-container *ngIf="!reusable">
  <ion-header translucent>
    <ion-toolbar class="header-back">
      <ion-buttons slot="start">
        <ion-back-button
          color="secondary"
          defaultHref="/network"
          class="container-header"
        ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-label> Recommendations</ion-label>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-container>
<ng-container *ngIf="reusable; else contentData">
  <div class="">
    <ion-row>
      <ion-col size="6" *ngFor="let s of custonSuggestionList">
        <app-user-card
          [main_text]="s.first_name + ' ' + s.last_name"
          [description_text]="s.user_headline"
          [dymanic_id]="s?._id"
          [img_url]="s['user_profile_image']?.url"
          [fallback_img_url]="userFallbackImage"
          [btn_label]="s.current_btn"
          [hide_border]="s.hide_border"
          [disable]="s.disable"
          [showCheckMark]="s.showCheckMark"
          (cardClicked)="cardClicked($event)"
          (closeClicked)="closeClicked($event)"
          (mainBtnClicked)="mainBtnClicked($event, s._id, s)"
        ></app-user-card>
      </ion-col>
    </ion-row>
  </div>
</ng-container>
<ng-template #contentData>
  <ion-content>
    <div class="">
      <ion-row>
        <ion-col size="6" *ngFor="let s of suggestionList">
          <app-user-card
            [main_text]="s.first_name + ' ' + s.last_name"
            [description_text]="s.user_headline"
            [dymanic_id]="s?._id"
            [img_url]="s['user_profile_image']?.url"
            [fallback_img_url]="userFallbackImage"
            [btn_label]="s.current_btn"
            [hide_border]="s.hide_border"
            [disable]="s.disable"
            [showCheckMark]="s.showCheckMark"
            (cardClicked)="cardClicked($event)"
            (closeClicked)="closeClicked($event)"
            (mainBtnClicked)="mainBtnClicked($event, s._id, s)"
          ></app-user-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>
</ng-template>
