.pl10 {
  padding-left: 10px;
}

.add-img-positioning {
  position: relative;
  opacity: 0.6;
  font-size: 28px;
  color: black;

  margin: 0 -32px -7px;
}

ion-content {
  // overwrite inline styles
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}