<ion-content>
  <div class="bg-img">
    <div class="login">
      <div class="login-with">
        <h1 class="h1-title text-light">Login with</h1>
      </div>
      <ion-button color="tertiary" shape="round" class="btn-round" expand="block" (click)="doFLogin()">
        <img src="assets/facebook1.png" width="34px" height="19px" />FACEBOOK</ion-button><br />
      <ion-button color="light" shape="round" class="btn-round" expand="block" (click)="doGLogin()">
        <img src="assets/Google.png" style="margin-right: 8px; margin-bottom: 3px" width="20px" height="19px" />GOOGLE
      </ion-button><br />
      <ion-button color="dark" shape="round" class="btn-round" expand="block" (click)="doELogin()">
        <img src="../../../assets/email.png" style="margin-right: 8px; margin-bottom: 3px" width="20px" height="19px" />Login With Email
      </ion-button>
    </div>
  </div>
</ion-content>