<ion-header translucent>
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/icon/favicon.png" alt="" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="secondary">
        <ion-label
          class="container-header back-icon routerLink"
          [routerLink]="['/signup']"
          >Join now
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container ion-padding-horizontal">
  <br />

  <div class="ion-padding-horizontal">
    <h1 class="title-30  opacity" >Sign in</h1>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="loginAccess(loginForm.valid,loginForm.value)"
    >
      <ion-item class="margin-top-2">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >Email
        </ion-label>
        <ion-input inputmode="text" formControlName="user_email"></ion-input>
      </ion-item>

      <p
        class="text-danger"
        *ngIf="loginForm.controls['user_email'].invalid && (loginForm.controls['user_email'].dirty || loginForm.controls['user_email'].touched)"
      >
        Please enter valid Email
      </p>

      <ion-item class="margin-top display">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >Password</ion-label
        >
        <ion-input
          inputmode="text"
          formControlName="password"
          type="password"
          [type]="hide ? 'password' : 'text'"
        ></ion-input>
        <div class="input-suffix">
          <ion-icon *ngIf="!hide" name="eye" (click)="toggleView()"></ion-icon>
          <ion-icon
            *ngIf="hide"
            name="eye-off"
            (click)="toggleView()"
          ></ion-icon>
        </div>
      </ion-item>

      <p
        class="text-danger"
        *ngIf="loginForm.controls.password.errors?.minlength"
      >
        Minimum 6 characters required
      </p>
      <br />
      <div class="df-space-between cursor-pointer">
        <h4
          class="h4-sub-title text-primary routerLink"
          [routerLink]="['/forgot-password']"
        >
          Forgot Password?
        </h4>
      </div>

      <ion-button
        color="secondary"
        shape="round"
        class="round-btn-40"
        expand="block"
        type="submit"
      >
        Continue
      </ion-button>
    </form>
  </div>
</ion-content>
