<ion-header translucent>
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/icon/favicon.png" alt="" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container ion-padding-horizontal">
  <br />
  <div class="ion-padding-horizontal">
    <h5 class="title-20" class="opacity">
      Adding an intro will help you stand out
    </h5>
    <div class="df-space-between"></div>
    <form class="padding" [formGroup]="completeProfileForm">
      <ion-list>
        <ion-radio-group formControlName="user_gender">
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio value="Male"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio value="Female"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Other</ion-label>
            <ion-radio value="Other"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-item  class="margin-top">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >Headline
        </ion-label>
        <ion-input
          inputmode="text"
          formControlName="user_headline"
          maxlength="80"
        ></ion-input>
      </ion-item>
      <p
        class="text-danger"
        *ngIf="completeProfileForm.controls.user_headline?.errors?.required"
      >
        A headline about you is necessary
      </p>

      <ion-item  class="margin-top">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >About
        </ion-label>
        <ion-textarea
          inputmode="text"
          formControlName="user_about"
          maxlength="500"
        ></ion-textarea>
      </ion-item>
      <p
        class="text-danger"
        *ngIf="completeProfileForm.controls.user_about?.errors?.required"
      >
        Please add atleast few lines about you
      </p>

      <ion-button
        color="secondary"
        shape="round"
        class="round-btn-40 m-t"
        expand="block"
        type="submit"
        (click)="completeProfile(completeProfileForm.valid,completeProfileForm.value)"
      >
        Next
      </ion-button>
    </form>
  </div>
</ion-content>
