.margin-top{
    margin-top: -8px; 
}
.opacity{
    opacity: 0.7
}
.opacity-2{
    opacity: 0.6
}
.text-transform{
    text-transform: initial
}
.font-size{
    font-size: large 
}
.margin{
    margin: 0 
}
.padding{
    padding: 0 10px
}