<ion-header translucent *ngIf="detail">
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-back-button
        color="secondary"
        defaultHref="/home"
        class="container-header"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="detail; else listView">
  <ion-content class="main-container ion-padding-horizontal">
    <div>
      <div class="home-post">
        <ion-list>
          <ion-item>
            <div
              slot="start"
              class="avatar-image routerLink"
              [routerLink]="['/profile']"
            >
              <ion-avatar class="avatar-small-image">
                <img [src]="postDetail?.['created_by']?.user_profile_image?.['url'] || userFallbackImage" />
              </ion-avatar>
            </div>
            <div>
              <h4 class="h3-activity" class="padding-1" >
                {{postDetail?.['created_by']?.first_name |titlecase }} {{postDetail?.['created_by']?.last_name |titlecase}}
              </h4>
              <span  class= "font-size-1"
                >{{postDetail?.created_at |dateAgoPipe}}</span
              >
            </div>
            <ion-icon
              *ngIf="playSound"
              name="volume-high-outline"
              slot="end"
              class="regular-font-size"
              (click)="sound()"
            ></ion-icon>
            <ion-icon
              *ngIf="!playSound"
              name="volume-mute-outline"
              slot="end"
              class="regular-font-size"
              (click)="sound()"
            ></ion-icon>
          </ion-item>
        </ion-list>
        <div class="user-post">
          <h4  class ="padding" >{{postDetail?.title |titlecase}}</h4>
          <p  class ="margin"  class="like-comment-icon h4-sub-title">
              {{postDetail?.content}}
          </p>
        </div>

        <ion-item>
          <ion-list class="width">
            <div>
              <ion-tab-button class="display">
                <div class="display-2" >
                  <div class="">
                    <ion-icon
                      name="thumbs-up-sharp"
                      class="font-size-2" 
                    ></ion-icon>
                  </div>
                  <div class="padding-2" >
                    <ion-label>{{ "33333" | number }}</ion-label>
                  </div>
                </div>
              </ion-tab-button>

              <ion-tab-button  class="display-3">
                <ion-label class="align-1">2 comments</ion-label>
              </ion-tab-button>
            </div>
          </ion-list>
        </ion-item>
        <ion-item>
          <ion-list  class="width-2 ">
            <div
               class="justify-content" 
            >
              <ion-tab-button *ngIf="!isLiked">
                <ion-icon
                  name="thumbs-up-outline"
                  (click)="toggleLike()"
                  class="font-size-icon" 
                ></ion-icon>
                <ion-label>like</ion-label>
              </ion-tab-button>
              <ion-tab-button *ngIf="isLiked">
                <ion-icon
                  name="thumbs-up"
                  (click)="toggleLike()"
                  class=" font-size-icon-2"
                  
                ></ion-icon>
                <ion-label>like</ion-label>
              </ion-tab-button>

              <ion-tab-button>
                <ion-icon name="chatbox-ellipses-outline"></ion-icon>
                <ion-label>comment</ion-label>
              </ion-tab-button>
              <ion-tab-button>
                <ion-icon name="share-social-outline"></ion-icon>
                <ion-label>share</ion-label>
              </ion-tab-button>

              <ion-tab-button>
                <ion-icon name="send-outline"></ion-icon>
                <ion-label>send</ion-label>
              </ion-tab-button>
            </div>
          </ion-list>
        </ion-item>

        <app-comments *ngIf="detail"></app-comments>
      </div>

      <!-- start comment component -->

      <!-- end comment component -->
      <!-- ===================== Loader Code ===================-->

      <div class="home-post" *ngIf="detail">
        <div>
          <ion-list>
            <ion-item>
              <div
                slot="start"
                class="avatar-image routerLink"
                [routerLink]="['/profile']"
              >
                <ion-avatar class="avatar-small-image">
                  <img
                    [src]=""
                    class="img-round animated-title-loader img" 
                   
                  />
                </ion-avatar>
              </div>
              <ion-label>
                <h4 class="mt-5 animated-title-loader width-3" 
                 ></h4>
              </ion-label>
            </ion-item>
          </ion-list>
          <div class="user-post">
            <img
              [src]=""
              class="animated-title-loader img-2"
            />
          </div>
          <div class="like-comment-icon"></div>
          <h4 class="h4-user-name animated-title-loader width-4">
            <b class="routerLink" [routerLink]="['/likes']"></b>
          </h4>
          <h4
            class="h4-user-name animated-title-loader width-5"
            
          ></h4>
          <span
            class="see-more text-success animated-title-loader width-6 "
          
          ></span>
          <h5
            class="
              h5-user-view-comment
              text-success
              routerLink
              animated-title-loader
              width-7
            "
            [routerLink]="['/comments']"
            
          ></h5>
          <h5
            class="h5-user-view-comment text-success animated-title-loader width-8 "
            
          ></h5>
        </div>
      </div>
    </div>
  </ion-content>
</ng-container>

<ng-template #listView>
  <div class="home-post">
    <ion-list>
      <ion-item>
        <div
          slot="start"
          class="avatar-image routerLink"
          [routerLink]="['/profile']"
        >
          <ion-avatar class="avatar-small-image">
            <img src="assets/Image/Empty State Icon/People.svg" />
          </ion-avatar>
        </div>
        <div [routerLink]="['/profile']">
          <h4 class="h3-activity padding-3" >
            Raunak Srivastava
          </h4>
          <span  class="font-size-3 " >2/12/21</span>
        </div>
        <ion-icon
          *ngIf="playSound"
          name="volume-high-outline"
          slot="end"
          class="regular-font-size"
          (click)="sound()"
        ></ion-icon>
        <ion-icon
          *ngIf="!playSound"
          name="volume-mute-outline"
          slot="end"
          class="regular-font-size"
          (click)="sound()"
        ></ion-icon>
      </ion-item>
    </ion-list>
    <div class="user-post" [routerLink]="['/home/detail']">
      <h4 class="padding-4" >Title here</h4>
      <p  class="like-comment-icon h4-sub-title margin-2">
        some description here Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Maxime molestiae quas labore odio doloremque
        dignissimos laborum adipisci eos error totam inventore, eius, sapiente
        ea nesciunt officia eveniet alias ratione esse dolores nam! Molestias
        impedit quasi, maxime assumenda autem aspernatur doloribus ducimus
        dignissimos in. Cupiditate nobis alias error inventore earum
        voluptatibus explicabo! Eveniet laudantium natus corrupti deleniti
        ducimus fuga eum. Adipisci perspiciatis ad explicabo vel culpa
        dignissimos quis recusandae distinctio quos consectetur accusamus, sit
        aliquid commodi libero sapiente provident voluptatum sint. Nulla harum
        dicta esse earum eos perspiciatis placeat iusto soluta, laudantium cum
        architecto reiciendis quisquam exercitationem nostrum rem natus enim.
      </p>
      ... readMore
    </div>

    <ion-item>
      <ion-list class="width-9">
        <div>
          <ion-tab-button class="display-4" >
            <div class="display-5" >
              <div class="">
                <ion-icon
                  name="thumbs-up-sharp"
                  class="font-size-icon-3 "
                ></ion-icon>
              </div>
              <div class="padding-5" >
                <ion-label>{{ "33333" | number }}</ion-label>
              </div>
            </div>
          </ion-tab-button>

          <ion-tab-button class="display-6" >
            <ion-label class="align-2">2 comments</ion-label>
          </ion-tab-button>
        </div>
      </ion-list>
    </ion-item>
    <ion-item>
      <ion-list class="width-10" >
        <div  class="justify-content-2">
          <ion-tab-button *ngIf="!isLiked">
            <ion-icon
              name="thumbs-up-outline"
              (click)="toggleLike()"
              class="font-size-icon-4"
              
            ></ion-icon>
            <ion-label>like</ion-label>
          </ion-tab-button>
          <ion-tab-button *ngIf="isLiked">
            <ion-icon
              name="thumbs-up"
              (click)="toggleLike()"
              class="font-size-icon-5"
            ></ion-icon>
            <ion-label>like</ion-label>
          </ion-tab-button>

          <ion-tab-button [routerLink]="['/home/detail']">
            <ion-icon name="chatbox-ellipses-outline"></ion-icon>
            <ion-label>comment</ion-label>
          </ion-tab-button>
          <ion-tab-button>
            <ion-icon name="share-social-outline"></ion-icon>
            <ion-label>share</ion-label>
          </ion-tab-button>

          <ion-tab-button>
            <ion-icon name="send-outline"></ion-icon>
            <ion-label>send</ion-label>
          </ion-tab-button>
        </div>
      </ion-list>
    </ion-item>

    <app-comments *ngIf="detail"></app-comments>
  </div>
</ng-template>
