<ion-header translucent>
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-icon name="chevron-back-outline" class="container-header back-icon routerLink"
        [routerLink]="['/login-email']"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container ion-padding-horizontal">
  <br />
  <div class="ion-padding-horizontal">
    <h1 class="title-30 text-primary">Signup to</h1>
    <h1 class="title-30 text-primary">Get Started</h1>

    <br />
    <form [formGroup]="signupForm" >
      <ion-item style="margin-top: 5px">
        <ion-label class="input-label text-gray" position="stacked">First Name</ion-label>
        <ion-input  formControlName="first_name" inputmode="text"></ion-input>
      </ion-item>
      <ion-item style="margin-top: 10px">
        <ion-label class="input-label text-gray" position="stacked">Last Name</ion-label>
        <ion-input  formControlName="last_name" inputmode="text"></ion-input>
      </ion-item>
      <ion-item style="margin-top: 10px">
        <ion-label class="input-label text-gray" position="stacked">Email ID</ion-label>
        <ion-input  formControlName="email" inputmode="text"></ion-input>
      </ion-item>

      <ion-item style="margin-top: 10px">
        <ion-label class="input-label text-gray" position="stacked">Password</ion-label>
        <ion-input  formControlName="password" inputmode="text" type="password"></ion-input>
      </ion-item>
      <p *ngIf="signupForm.controls.password.errors?.minlength"
      class="text-danger">
      Minimum 6 characters required
    </p>

      <ion-item style="margin-top: 10px">
        <ion-label class="input-label text-gray" position="stacked">Confirm Password</ion-label>
        <ion-input  formControlName="conform_password" inputmode="text" type="password"></ion-input>
      </ion-item>

      <p *ngIf="signupForm.controls.conform_password.errors?.minlength"
      class="text-danger">
      Minimum 6 characters required
    </p>
      <br />

      <ion-button (click)="signupPassword(signupForm.valid,signupForm.value)" color="primary" class="round-btn-40" expand="block">
        Sign Up
      </ion-button>

      <div class="">
        <h4 class="h4-sub-title text-dark routerLink" [routerLink]="['/login-email']">Already have a account?<span class="text-primary"> Log
            in</span></h4>
      </div>
    </form>

  </div>

</ion-content>