<ion-header translucent>
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-icon
        name="chevron-back-outline"
        class="container-header back-icon routerLink"
        [routerLink]="['/login-email']"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container ion-padding-horizontal">
  <br />
  <div class="ion-padding-horizontal">
  <h1 class="title-30 text-primary">Set New</h1>
  <h1 class="title-30 text-primary">Password</h1>

  <br />
  <form
  [formGroup]="newpasswordForm"
  (ngSubmit)="newpasswordAccess(newpasswordForm.valid,newpasswordForm.value)"
>
  <ion-item class="margin-top">
    <ion-label class="input-label text-gray" position="stacked"
      >New Password</ion-label
    >
    <ion-input inputmode="text" type="password" formControlName="new_password"></ion-input>
  </ion-item>
  
  <p *ngIf="newpasswordForm.controls.new_password.errors?.minlength"
  class="text-danger">
  Minimum 6 characters required
</p>
  
  <ion-item class="margin-top">
    <ion-label class="input-label text-gray" position="stacked"
      >Confirm Password</ion-label
    >
    <ion-input inputmode="text" type="password" formControlName="confirm_password"></ion-input>
  </ion-item>
  
  <p *ngIf="newpasswordForm.controls.confirm_password.errors?.minlength"
  class="text-danger">
  Minimum 6 characters required
</p>
  

  <div
  class="padding-bottom-10 justify-center padding-top-10"
>
  <ion-button expand="block" class="full-btn" type="submit"
    >Submit</ion-button
  >
</div>
</form>
</div>

</ion-content>
