<div class="container" *ngIf="showBtns">
  <ion-button
    [ngClass]="{ halfWidth: multipleButtons, fullWidth: !multipleButtons }"
    color="secondary"
    shape="round"
    class="round-btn-40"
    [fill]="changeBtnView ? 'solid' : 'outline'" 
    (click)="handleConnection(btn1, user_id );"
  >
    {{ btn1 }}
  </ion-button>
  <ion-button
    *ngIf="multipleButtons"
    color="secondary"
    shape="round"
    class="round-btn-40 halfWidth"
    (click)="handleConnection(btn2, user_id)
  "
  >
    <ion-icon 
    *ngIf="!hideIcon"
    class="mt-7" name="lock-closed-outline"
    ></ion-icon>
  >
    <ion-icon class="mt-7" name="lock-closed-outline"></ion-icon>
    {{ btn2 }}
  </ion-button>

  <div class="p-6">
    <ion-icon
      (click)="openActionSheet()"
      class="alertButtonSetting"
      name="ellipsis-horizontal-outline"
    ></ion-icon>
  </div>
</div>
