.container {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}

.halfWidth {
  width: 49.5%;
}

.fullWidth {
  width: 93%;
}

.p-6 {
  padding: 6px;
}
.mt-7 {
  margin-top: -7px;
}
