<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClosePage()" >
        <ion-icon class ="fontsize"  name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
      <ion-button>
        <ion-label  class ="fontsize-1">
          Share talks
        </ion-label>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [disabled]="!postForm.valid" (click)="createPost(postForm.valid,postForm.value)">
        <ion-label
        class ="fontsize-1"
          slot="end"
        >
          Post</ion-label
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="height">
  <div class="padding" >
    <div
      class="mixstyle"
  
    >
    <ion-avatar slot="start"class="padding-2" >
      <img [src]="my_information?.['user_profile_image']?.url || userFallbackImage" />
    </ion-avatar>
    </div>
    <div class="display">
      <h6 class="padding-3">
      {{my_information?.['first_name'] |titlecase}}
      {{my_information?.['last_name'] |titlecase}}</h6>
      <ion-chip outline color="secondary" (click)="openActionSheet()">
        <ion-icon *ngIf="anyone" name="earth"></ion-icon>
        <ion-label *ngIf="anyone">{{selectedButtton}}</ion-label>
        <!-- show conditionally -->
        <ion-icon *ngIf="connectionsOnly" name="people"></ion-icon>
        <ion-label *ngIf="connectionsOnly">{{selectedButtton}}</ion-label>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-chip>
    </div>

    <form [formGroup]="postForm">
    <ion-input
      placeholder="Give me a beautiful title !
      "
      [maxlength]="40"
      formControlName="title"
  
    ></ion-input>
    <ion-textarea 
    class ="height-3"
      placeholder="What is coming in your creative mind?
      "
      formControlName="content"
      clearOnEdit="true"
    ></ion-textarea>
  </form>
 
  </div>
</ion-content>

<div class="" >
  <ion-tab-button *ngIf="toggleMike" (click)="stopListening()">
    <ion-icon size="large" name="mic" color="secondary"></ion-icon>
    <ion-label>Press again if you're done</ion-label>
  </ion-tab-button>
  <ion-tab-button *ngIf="!toggleMike" (click)="showAlert()">
    <ion-icon size="large" name="mic-off" color="secondary"></ion-icon>
    <ion-label>Speak to add your talk</ion-label>
  </ion-tab-button>
</div>