<ion-content class="main-container ion-padding-horizontal">
  <ion-avatar size="large" class="height">
    <img src="assets/icon/favicon.png" alt="" />
  </ion-avatar>
  <br />

  <div class="ion-padding-horizontal">
    <h1 class="title-30  opacity-2">We sent a code to your email</h1>
    <h4 class="h4-sub-title text-primary routerLink  cursor" >
      <span  class="color"
        >Enter the 6 digit verification code sent to {{email}}</span
      >
    </h4>
    <form [formGroup]="codeForm">
      <ion-item class="margin-top">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >6 digit code
        </ion-label>
        <ion-input inputmode="text" formControlName="code"></ion-input>
      </ion-item>

      <p class="text-danger" *ngIf="codeForm.controls['code'].invalid ">
        Please enter a valid code
      </p>

      <div class="df-space-between cursor-pointer" (click)="resendCode()">
        <h4 class="h4-sub-title text-primary routerLink">Resend code?</h4>
      </div>

      <ion-button
        color="secondary"
        shape="round"
        class="round-btn-40"
        expand="block"
        type="submit"
        (click)="verifyMail(codeForm.valid, codeForm.value)"
      >
        Submit
      </ion-button>
      <h4 class="h4-sub-title text-primary routerLink" class="cursor">
        <span class="color  opacity"
          >If you don't see the email in your inbox,check your spam
          folder.</span
        >
      </h4>
    </form>
  </div>
</ion-content>
