<ion-content class="main-container ion-padding-horizontal">
  <ion-avatar size="large" style="height: 98px">
    <img src="assets/icon/favicon.png" alt="" />
  </ion-avatar>
  <br />

  <div class="ion-padding-horizontal">
    <h1 class="title-30" style="opacity: 0.9">We sent a code to your email</h1>
    <h4 class="h4-sub-title text-primary routerLink" style="cursor: pointer">
      <span style="color: black"
        >Enter the 6 digit verification code sent to f*****@gmail.com</span
      >
    </h4>
    <form>
      <ion-item style="margin-top: 5px">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >6 digit code
        </ion-label>
        <ion-input inputmode="text" maxlength="6"></ion-input>
      </ion-item>

      <p class="text-danger">Please enter a valid code</p>
      <!-- <br /> -->
      <div class="df-space-between">
        <h4 class="h4-sub-title text-primary routerLink">Resend code?</h4>
      </div>

      <ion-button
        color="secondary"
        shape="round"
        class="round-btn-40"
        expand="block"
        type="submit"
        [routerLink]="['/new-password']"
      >
        Submit
      </ion-button>
      <h4 class="h4-sub-title text-primary routerLink" style="cursor: pointer">
        <span style="color: black; opacity: 0.7"
          >If you don't see the email in your inbox,check your spam
          folder.</span
        >
      </h4>
    </form>
  </div>
</ion-content>
