<ion-header translucent>
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/icon/favicon.png" alt="" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container ion-padding-horizontal">
  <br />

  <div class="ion-padding-horizontal">
    <h5 class="title-20  opacity" >
      
      Adding a photo helps people recognize you
    </h5>
    <div class="df-space-between"></div>

    <ion-card class="people-you-scroll ; p-20">
      <div class="avatar-recommend-image">
        <img
          *ngIf="!userImg['url']"
          src="assets/Image/Empty State Icon/People.svg"
          width="73px"
          height="73px"
          class="img-round"
        />

        <img
          *ngIf="userImg['url']"
          [src]="userImg['url']"
          width="73px"
          height="73px"
          class="img-round"
        />
      </div>
      <div class="recommended-user-names">
        <h4 class="mt-5 text-dark res-1line padding-lr-10">
          {{userData.first_name.description |titlecase}}
          {{userData.last_name.description |titlecase}}
        </h4>
        <h5 class="h5-sub-title res-1line padding-lr-10">
          {{userData.user_headline.description |titlecase}}
        </h5>
      </div>
    </ion-card>
  </div>
</ion-content>
<footer>
  <div class="p-10">
    <ion-button
      color="secondary"
      shape="round"
      class="round-btn-40 f-t"
      expand="block"
      type="submit"
      (click)="addImage(!!userImg['url'] , 'profile')"
    >
      {{userImg['url']? 'Change photo':'Add a photo'}}
    </ion-button>
    <div class="df-space-between no-bg-button cursor-pointer">
      <span [routerLink]="['/']">{{userImg['url']?'Next':'Skip for now'}}</span>
    </div>
  </div>
</footer>
