<ion-header translucent>
  <ion-toolbar class="header-back">
    <ion-buttons slot="start">
      <ion-icon
        name="chevron-back-outline"
        class="container-header back-icon routerLink"
        [routerLink]="['/login-email']"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container ion-padding-horizontal">
  <br />
  <div class="ion-padding-horizontal">
  <h1 class="title-30 text-primary">Forgot</h1>
  <h1 class="title-30 text-primary">Password</h1>

  <br />
  <form
  [formGroup]="forgotForm"
  (ngSubmit)="forgotAccess(forgotForm.valid,forgotForm.value)"
  *ngIf="!resetcode"
>
  <ion-item style="margin-top: 5px">
    <ion-label class="input-label text-gray" position="stacked"
      >Email ID</ion-label
    >
    <ion-input inputmode="text" formControlName="user_email"></ion-input>
  </ion-item>

  <p
  *ngIf="forgotForm.controls['user_email'].invalid && (forgotForm.controls['user_email'].dirty || forgotForm.controls['user_email'].touched)"
  class="text-danger">
    Please enter valid Email
</p>

<div class="padding-bottom-10 justify-center padding-top-10">
  <ion-button expand="block" class="full-btn" type="submit"
    >Send Code</ion-button
  >
</div>
</form>
</div>


<form
[formGroup]="resetForm"
(ngSubmit)="resetAccess(resetForm.valid,resetForm.value)"
*ngIf="resetcode"
>

<ion-item style="margin-top: 5px">
  <ion-label class="input-label text-gray" position="stacked"
    >Enter Code</ion-label
  >
  <ion-input inputmode="text" formControlName="resetCode"></ion-input>
</ion-item>


<div
  class="padding-bottom-10 justify-center padding-top-10"
>
  <ion-button expand="block" class="full-btn" type="submit"
    >Submit</ion-button
  >
</div>
</form>

</ion-content>
