<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        class="container-header opacity"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons>
      <div class="">
        <ion-label class="container-header"
          >{{memberInfo['first_name'] | titlecase}} {{memberInfo['last_name'] |
          titlecase}}</ion-label
        >

        <ion-label class="font-size padding">
          <ion-icon
            class="font-size2 padding-top"
            name="radio-button-on-outline"
          ></ion-icon>
          Active</ion-label
        >
      </div>
    </ion-buttons>
    <ion-buttons slot="end" id="main">
      <ion-button (click)="presentActionSheet()" class="container-header"
        ><ion-icon
          class="regular-font-size"
          name="ellipsis-vertical-outline"
        ></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list class="padding">
    <ion-list-header size="small;" class="padding-mix">
      <ion-label>
        <!-- <div class=""> -->
        <div class="chat-room-member-profile">
          <ion-avatar class="">
            <img
              [src]="memberInfo['user_profile_image']?.url ||userFallbackImage "
            />
          </ion-avatar>
        </div>
        <!-- </div> -->

        <h6 class="font-size-3">
          {{memberInfo['first_name'] | titlecase}} {{memberInfo['last_name'] |
          titlecase}}
        </h6>
        <p class="font-size-4">{{memberInfo['user_headline'] | lowercase}}</p>
      </ion-label>
    </ion-list-header>

    <div *ngFor="let chat of messagesList; let i=index">
      <ion-label (click)="openActionSheet(i)">
        <div class="padding">
          <div class="image display-2 justify-self width margin-right">
            <ion-avatar size="sm">
              <img [src]="chat.senderUser.user_profile_image.url" />
            </ion-avatar>
          </div>
          <div class="display-2">
            <h2>
              {{chat.senderUser.first_name |titlecase}}
              {{chat.senderUser.last_name |titlecase}}
            </h2>
            <div class="display">
              <h6 class="opacity padding-right">{{chat.created_at | date}}</h6>
              <ion-icon *ngIf="chat.is_edited" name="pencil-outline"></ion-icon>
            </div>
          </div>
        </div>

        <p>{{chat.content}}</p>
      </ion-label>
    </div>
    <!-- <div style="padding: 20px 0">
      <ion-label>
        <div class="" style="padding: 1%">
          <div
            class=""
            style="
              display: inline-block;
              justify-self: center important;
              width: 38px;
              margin-right: 5px;
            "
          >
            <img src="assets/Image/Empty State Icon/People.svg" />
          </div>
          <div style="display: inline-block">
            <h2>Raunak Srivastava</h2>
            <h6 style="opacity: 0.7">5 days ago</h6>
          </div>
        </div>

        <p>praesentium optio voluptates aliquam illo ab nihil?</p>
      </ion-label>
    </div>
    <div style="">
      <ion-label>
        <div class="" style="padding: 1%">
          <div
            class=""
            style="
              display: inline-block;
              justify-self: center important;
              width: 38px;
              margin-right: 5px;
            "
          >
            <img src="assets/Image/Empty State Icon/People.svg" />
          </div>
          <div style="display: inline-block">
            <h2>Robert Gilbert</h2>
            <h6 style="opacity: 0.7">3 days ago</h6>
          </div>
        </div>

        <p>
          Lorem fuga itaque vitae recusandae dolores asperiores dicta ab illum
          maxime veritatis molestias! Ullam, debitis architecto?
        </p>
      </ion-label>
    </div>
    <div style="">
      //commented this line <div class="" style=" width:45px;border: 1px solid; position:fixed top"> 

      // this line also </div> 
      <ion-label>
        <div class="" style="padding: 1%">
          <div
            class=""
            style="
              display: inline-block;
              justify-self: center important;
              width: 38px;
              margin-right: 5px;
            "
          >
            <img src="assets/Image/Empty State Icon/People.svg" />
          </div>
          <div style="display: inline-block">
            <h2>Raunak Srivastava</h2>
            <h6 style="opacity: 0.7">3 days ago</h6>
          </div>
        </div>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis
          nihil quia doloribus. Voluptatum velit natus neque, quia omnis
          corrupti aut, quod, est voluptate assumenda quae! Porro saepe sunt
          ratione ea ab, ?
        </p>
      </ion-label>
    </div> -->
  </ion-list>
</ion-content>
<ion-footer>
  <div class="foot display">
    <ion-input
      placeholder="enter your message here.."
      [(ngModel)]="textMessageString"
      (keydown.enter)="triggerMessage(textMessageString ,roomId)"
    ></ion-input>
    <ion-icon
      name="send"
      class="regular-font-size"
      (click)="triggerMessage(textMessageString,roomId)"
    ></ion-icon>
  </div>
</ion-footer>
