<ion-content class="main-container ion-padding-horizontal">
  <ion-avatar size="large"class="height" >
    <img src="assets/icon/favicon.png" alt="" />
  </ion-avatar>
  <br />

  <div class="ion-padding-horizontal">
    <h1 class="title-30 opacity ">Forgot password?</h1>
    <h4 class="h4-sub-title text-primary routerLink cursor" >
      <span class="color">Reset password in two quick steps</span>
    </h4>
    <form [formGroup]="emailForm">
      <ion-item class="margin-top">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >Email
        </ion-label>
        <ion-input inputmode="text" formControlName="email"></ion-input>
      </ion-item>

      <p
        class="text-danger"
        *ngIf="emailForm.controls['email'].invalid && (emailForm.controls['email'].dirty || emailForm.controls['email'].touched)"
      >
        Please enter valid Email
      </p>

      <ion-button
        color="secondary"
        shape="round"
        class="round-btn-40"
        expand="block"
        type="submit"
        (click)="forgotPassword(emailForm.valid, emailForm.value)"
      >
        Reset password
      </ion-button>
    </form>
  </div>
</ion-content>
