<ion-content class="main-container ion-padding-horizontal">
  <ion-avatar size="large" style="height: 98px">
    <img src="assets/icon/favicon.png" alt="" />
  </ion-avatar>
  <br />

  <div class="ion-padding-horizontal">
    <h1 class="title-30" style="opacity: 0.9">Forgot password?</h1>
    <h4 class="h4-sub-title text-primary routerLink" style="cursor: pointer">
      <span style="color: black">Reset password in two quick steps</span>
    </h4>
    <form>
      <ion-item style="margin-top: 5px">
        <ion-label
          color="secondary"
          class="input-label text-gray"
          position="floating"
          >Email
        </ion-label>
        <ion-input inputmode="text"></ion-input>
      </ion-item>

      <p class="text-danger">Please enter valid Email</p>

      <ion-button
        color="secondary"
        shape="round"
        class="round-btn-40"
        expand="block"
        type="submit"
        [routerLink]="['/reset-password']"
      >
        Reset password
      </ion-button>
    </form>
  </div>
</ion-content>
