<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar class="regular-font-size" [routerLink]="['/dashboard']">
        <img src="assets/Image/Empty State Icon/People.svg" />
      </ion-avatar>
    </ion-buttons>

    <ion-buttons slot="end">
      <app-search style="border: none"></app-search>
    </ion-buttons>

    <ion-buttons slot="end" id="main">
      <ion-button class="container-header" routerLink="/home/chat-list">
        <ion-badge
          style="position: absolute; top: -1px; left: 20px"
          slot="end"
          color="secondary"
          >2</ion-badge
        >
        <ion-icon
          name="chatbox-ellipses-outline"
          class="regular-font-size"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
