<!-- <app-header></app-header> -->
<app-header></app-header>
<ion-content class="main-container ion-padding-horizontal">
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="" *ngFor="let card of activity_list">
    <post-card [detail]="false"></post-card>
  </div>
  <!-- <app-activity-card
    [userPref]="userPreference"
    [limitBody]="limit"
  ></app-activity-card> -->

  <!-- <my-activity-card
    #myActCard
    (ionRefresh)="doRefresh($event)"
    myActivity="upcoming"
    limit="5"
  ></my-activity-card> -->

  <div class="margin-1" >
    <!-- <app-home-slide></app-home-slide> -->
  </div>

  <br />
  <!-- ===================== Loader Code ===================-->
  <!-- <app-post-card></app-post-card> -->
  <div *ngIf="recommendedListLoader">
    <div class="people-you" scroll-y="false">
      <ion-slides [options]="slideOptsOne">
        <ion-slide *ngFor="let peoples of people_list" align ="center">
          <ion-card class="people-you-scroll">
            <div class="avatar-recommend-image">
              <img
                [src]=""
                
                class="img-round animated-title-loader width-1"
              />
            </div>
            <h4
              class="mt-5 text-dark animated-title-loader width-2"
              
            ></h4>
            <h5
              class="h5-sub-title padding-lr-10 animated-title-loader  width-3"
            ></h5>
            <p
              size="small"
              class="animated-title-loader  width-4"
            ></p>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
  <!-- <div class=""> -->
  <!-- <app-footer></app-footer> -->
  <!-- </div> -->
</ion-content>
