
.main-header {
    --background: var(--ion-color-light);
}
.swiper-slide img {
    width: 73px !important;
    height: 73px !important;
}


.ion-margin-horizontal {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.flaticon-comment-2 {
    margin-top: 7px;
    margin-left: 10px;
}
.avatar-medium-image {
    margin-top: 10px;
}

.people-you-scroll {
    width: 100%;
}

