
.main-header {
    --background: var(--ion-color-light);
}
.swiper-slide img {
    width: 73px !important;
    height: 73px !important;
}


.ion-margin-horizontal {
    margin-right: 10px !important;
    margin-left: 10px !important;
}
.flaticon-comment-2 {
    margin-top: 7px;
    margin-left: 10px;
}
.avatar-medium-image {
    margin-top: 10px;
}

.people-you-scroll {
    width: 100%;
}
.width-1{width: 73px; height: 73px; margin-bottom: 5px}
.width-2{width: 80px; margin: 5px auto}
.width-3{width: 60px; margin: 5px auto}
.width-4{width: 80px; height: 25px; left: 23%}
.margin-1{margin-top: 10px; margin-bottom: 10px}
.height-100vh{
    height: 100vh;
}
