<!-- <ion-content fullscreen> -->
<ion-list>
  <ion-list-header size="small"> Comments on this talk </ion-list-header>

  <ion-item style="">
    <ion-label>
      <div class="" style="padding: 1%">
        <div
          class=""
          style="
            display: inline-block;
            justify-self: center important;
            width: 38px;
            margin-right: 5px;
          "
        >
          <img src="assets/Image/Empty State Icon/People.svg" />
        </div>
        <div style="display: inline-block">
          <h2>Finn</h2>
          <h6 style="opacity: 0.7">3 days ago</h6>
        </div>
      </div>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis nihil
        quia doloribus. Voluptatum velit natus neque, quia omnis corrupti aut,
        quod, est voluptate assumenda quae! Porro saepe sunt ratione ea ab,
        commodi hic magnam esse eos autem a ipsum quaerat cum doloribus.
        Eligendi ab ducimus saepe excepturi eius voluptatibus velit similique
        amet nobis numquam mollitia veritatis at rerum, dignissimos aut non
        eaque quasi. Consectetur itaque quod voluptatem quas optio, adipisci,
        harum odio provident blanditiis doloremque atque obcaecati perspiciatis
        est aperiam maiores eum! Architecto totam laboriosam, adipisci
        repellendus asperiores quam, praesentium optio voluptates aliquam illo
        ab nihil? Nisi quibusdam voluptatem, repudiandae fugit iste atque sint,
        animi porro ratione ab obcaecati consequatur. Voluptatem vitae sit quia
        distinctio. Illo, obcaecati veritatis. Aut blanditiis minus eum commodi
        optio porro consectetur minima! Rerum quibusdam possimus dolorem dolorum
        excepturi reprehenderit neque corporis sapiente quia quasi voluptatum
        aliquid facilis eius modi eveniet est id tempore, facere molestiae
        natus, qui omnis voluptates mollitia aspernatur? At molestias sequi
        reprehenderit nam nostrum aspernatur ut veniam est placeat unde animi
        dolorum, dolorem aliquid, recusandae natus ex? Ducimus quam adipisci
        animi eligendi aspernatur facilis, ea vel fugiat fuga itaque vitae
        recusandae dolores asperiores dicta ab illum maxime veritatis molestias!
        Ullam, debitis architecto?
      </p>
    </ion-label>
  </ion-item>
  <ion-item style="">
    <ion-label>
      <div class="" style="padding: 1%">
        <div
          class=""
          style="
            display: inline-block;
            justify-self: center important;
            width: 38px;
            margin-right: 5px;
          "
        >
          <img src="assets/Image/Empty State Icon/People.svg" />
        </div>
        <div style="display: inline-block">
          <h2>Finn</h2>
          <h6 style="opacity: 0.7">3 days ago</h6>
        </div>
      </div>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis nihil
        quia doloribus. Voluptatum velit natus neque, quia omnis corrupti aut,
        quod, est voluptate assumenda quae! Porro saepe sunt ratione ea ab,
        commodi hic magnam esse eos autem a ipsum quaerat cum doloribus.
        Eligendi ab ducimus saepe excepturi eius voluptatibus velit similique
        amet nobis numquam mollitia veritatis at rerum, dignissimos aut non
        eaque quasi. Consectetur itaque quod voluptatem quas optio, adipisci,
        harum odio provident blanditiis doloremque atque obcaecati perspiciatis
        est aperiam maiores eum! Architecto totam laboriosam, adipisci
        repellendus asperiores quam, praesentium optio voluptates aliquam illo
        ab nihil?
      </p>
    </ion-label>
  </ion-item>
  <ion-item style="">
    <ion-label>
      <div class="" style="padding: 1%">
        <div
          class=""
          style="
            display: inline-block;
            justify-self: center important;
            width: 38px;
            margin-right: 5px;
          "
        >
          <img src="assets/Image/Empty State Icon/People.svg" />
        </div>
        <div style="display: inline-block">
          <h2>Finn</h2>
          <h6 style="opacity: 0.7">3 days ago</h6>
        </div>
      </div>

      <p>
        Lorem fuga itaque vitae recusandae dolores asperiores dicta ab illum
        maxime veritatis molestias! Ullam, debitis architecto?
      </p>
    </ion-label>
  </ion-item>
  <ion-item style="">
    <!-- <div class="" style=" width:45px;border: 1px solid; position:fixed top"> -->

    <!-- </div> -->
    <ion-label>
      <div class="" style="padding: 1%">
        <div
          class=""
          style="
            display: inline-block;
            justify-self: center important;
            width: 38px;
            margin-right: 5px;
          "
        >
          <img src="assets/Image/Empty State Icon/People.svg" />
        </div>
        <div style="display: inline-block">
          <h2>Finn</h2>
          <h6 style="opacity: 0.7">3 days ago</h6>
        </div>
      </div>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis nihil
        quia doloribus. Voluptatum velit natus neque, quia omnis corrupti aut,
        quod, est voluptate assumenda quae! Porro saepe sunt ratione ea ab,
        commodi hic magnam esse eos autem a ipsum quaerat cum doloribus.
        Eligendi ab ducimus saepe excepturi eius voluptatibus velit similique
        excepturi reprehenderit neque corporis sapiente quia quasi voluptatum
        aliquid facilis eius modi eveniet est id tempore, facere molestiae
        natus, qui omnis voluptates mollitia aspernatur? At molestias sequi
        reprehenderit nam nostrum aspernatur ut veniam est placeat unde animi
        dolorum, dolorem aliquid, recusandae natus ex? Ducimus quam adipisci
        animi eligendi aspernatur facilis, ea vel fugiat fuga itaque vitae
        recusandae dolores asperiores dicta ab illum maxime veritatis molestias!
        Ullam, debitis architecto?
      </p>
    </ion-label>
  </ion-item>
</ion-list>
<!-- </ion-content> -->

<div class="comments-input" style="">
  <ion-avatar class="avatar-small-image">
    <img src="assets/Image/Empty State Icon/People.svg" class="img-round" />
  </ion-avatar>
  <div style="width: 675px; margin-top: 7px">
    <h4 class="h4-title text-dark">
      <ion-input
        type="text"
        placeholder="Leave your thoughts here..."
      ></ion-input>
    </h4>
  </div>
  <div class="comment-message">
    <ion-icon style="font-size: 20px" name="send-outline"></ion-icon>
  </div>
</div>

<!-- skeleton text -->
<div>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
