<!-- <ion-content fullscreen> -->
<ion-list>
  <ion-list-header size="small">
    {{ totalCommentsCount | number }} Comments on this talk
  </ion-list-header>

  <ion-item *ngFor="let comment of commentsList">
    <ion-label>
      <div class="padding">
        <div slot="start">
        <ion-avatar class="avatar-small-image">
          <img
            [src]="comment?.['created_by']?.user_profile_image?.['url'] || userFallbackImage"
          />
        </ion-avatar>
        </div>
        <div class="display">
          <h2>
            {{comment?.['created_by']?.first_name |titlecase }}
            {{comment?.['created_by']?.last_name |titlecase}}
          </h2>
          <h6 class="opacity">{{ comment?.created_at | dateAgoPipe }}</h6>
        </div>
        <ion-icon
          *ngIf="comment?.['isMyComment']"
          class="margin-bottom"
          name="ellipsis-vertical-outline"
          slot="end"
        ></ion-icon>
        <!-- (click)="openActionSheet(postDetail._id)" -->
      </div>

      <p>{{ comment?.comment_data }}</p>
    </ion-label>
  </ion-item>
  <!-- here expected ui below -->
  <ion-item>
    <ion-label>
      <div class="padding">
        <div class="mixstyle">
          <img src="assets/Image/Empty State Icon/People.svg" />
        </div>
        <div class="display">
          <h2>Finn</h2>
          <h6 class="opacity">3 days ago</h6>
        </div>
      </div>

      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis nihil
        quia doloribus. Voluptatum velit natus neque, quia omnis corrupti aut,
        quod, est voluptate assumenda quae! Porro saepe sunt ratione ea ab,
        commodi hic magnam esse eos autem a ipsum quaerat cum doloribus.
        Eligendi ab ducimus saepe excepturi eius voluptatibus velit similique
        amet nobis numquam mollitia veritatis at rerum, dignissimos aut non
        eaque quasi. Consectetur itaque quod voluptatem quas optio, adipisci,
        harum odio provident blanditiis doloremque atque obcaecati perspiciatis
        est aperiam maiores eum! Architecto totam laboriosam, adipisci
        repellendus asperiores quam, praesentium optio voluptates aliquam illo
        ab nihil?
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <div class="padding">
        <div class="mixstyle">
          <img src="assets/Image/Empty State Icon/People.svg" />
        </div>
        <div class="display">
          <h2>Finn</h2>
          <h6 class="opacity">3 days ago</h6>
        </div>
      </div>

      <p>
        Lorem fuga itaque vitae recusandae dolores asperiores dicta ab illum
        maxime veritatis molestias! Ullam, debitis architecto?
      </p>
    </ion-label>
  </ion-item>
</ion-list>
<!-- </ion-content> -->

<div class="comments-input">
  <div slot="start" class="avatar-image routerLink">
    <ion-avatar class="avatar-small-image">
      <img [src]="myInfo?.['user_profile_image']?.url  || userFallbackImage" />
    </ion-avatar>
  </div>

  <div class="width-1">
    <h4 class="h4-title text-dark">
      <ion-input
        [(ngModel)]="commentText"
        type="text"
        placeholder="Leave your thoughts here..."
        (keydown.enter)="createComment(commentText, myInfo)"
      ></ion-input>
    </h4>
  </div>
  <div class="comment-message" (click)="createComment(commentText, myInfo)">
    <ion-icon class="font-size" name="send-outline"></ion-icon>
  </div>
</div>

<!-- skeleton text -->
<!-- <div>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated class="width-2"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated class="width-3"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated class="width-4"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div> -->
